<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example</title>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"></script>

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-1" style="background-color: aliceblue">
                <p>col-1</p>
           </div>
            <div class="col-md-1" style="background-color: aqua">
                <p>col-2</p>
            </div>
            <div class="col-md-1" style="background-color: blue; color: white">
                <p>col-3</p>
            </div>
            <div class="col-md-1" style="background-color: green; color: white">
                <p>col-4</p>
            </div>
            <div class="col-md-1" style="background-color: black; color: white">
                <p>col-5</p>
            </div>
            <div class="col-md-1" style="background-color: brown; color: white">
                <p>col-6</p>
            </div>
            <div class="col-md-1">
                <p>col-7</p>
            </div>
            <div class="col-md-1">
                <p>col-8</p>
            </div>
            <div class="col-md-1">
                <p>col-9</p>
            </div>
            <div class="col-md-1">
                <p>col-10</p>
            </div>
            <div class="col-md-1">
                <p>col-11</p>
            </div>
            <div class="col-md-1">
                <p>col-12</p>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6" style="background-color: blueviolet; color: white">
                <p>col-6</p>
            </div>
            <div class="col-md-2 col-md-offset-4" style="background-color: cadetblue">
                <p>col-2</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 offset-md-4">
                    <!-- This column is offset by 4 grid units -->
                    Centered content
            </div>
        </div>


    </div>
</body>
</html>